# Auto detect text files and perform LF normalization
* text=auto

# Ignore stuff for export
/docs                   export-ignore
README.md               export-ignore
LICENSE                 export-ignore